.form__option--re{
    width: 450px;
    border-radius: 10px;
    background-color: white;
}

a{
    color: #041470;
}

.img-size-logo {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 768px) {
    .form__option--re {
        width: 70%;
    }
}

@media screen and (max-width: 320px) {
    .form__option--re {
        width: 100%;
        border: none;
    }
}
