.menu {
    background-color: #04074C;
    /* height: 80px; */
    /* line-height: 80px; */
}

.bg-color {
    background-color: #CAE0F3;
}

.text-a-white a {
    color: white;
}


/* .introEIV {
    border: 1px solid black;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
} */