<div class="bg-color p-5">
    <div class="container-fluid content" style="max-width: 1230px;">        
        <p class="h2 title text-center text-uppercase fw-bold">Giới thiệu về EIV</p>
        <div class="row">
            <div class="col-2 " style="min-width:600px">
                <div>
                    <p class="h4 fw-bold">Thông tin chung</p>
                    <p>Tên đầy đủ của doanh nghiệp: CÔNG TY CỔ PHẦN DU LỊCH EIV <br/> Website: <br/> Trụ sở chính: Số 669 QL1A, Khu phố 3, Thủ Đức, Thành phố Hồ Chí Minh <br/> Tổng đài EIV: +999 888 777.
                    </p>
                </div>
                <div>
                    <p class="h4 fw-bold">Các sản phẩm du lịch EIV chính</p>
                    <p>Công ty EIV hiện đang thực hiện các hoạt động kinh doanh lữ hành với đa dạng loại hình dịch vụ, sản phẩm như:</p>
                    <ul>
                        <li>Tour du lịch trong nước trải rộng khắp 3 miền tổ quốc Việt Nam</li>
                        <li>Các hoạt động trong tour du lịch đa dạng, nhiều hoạt động hấp dẫn</li>
                        <li>Những địa điểm thu hút đem lại cảm giác mới lạ</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-2" style="min-width:500px">
                <img class="img-fluid mt-4" src="assets/img/about_us.jpg" alt="" >
            </div>
        </div>
        <div class="row mb-5">
            <div class="introEIV">
                <p class="h4 fw-bold text-center">Giới thiệu về công ty EIV</p>
                <p>EIV được thành lập vào tháng 11/2021 với tên gọi: Công ty cổ phần du lịch EIV. Công ty được thành lập với 5 nhân sự cấp cao và hoạt động chính trong lĩnh vực kinh doanh lữ hành. Với sứ mệnh phục vụ nhu cầu du lịch của khách hàng, công ty du lịch EIV luôn tự hào là nơi được nhiều khách hàng tin tưởng, lựa chọn vì đã đem đến những giá trị mới cho người dùng như:</p>
                <ul>
                    <li>Thường xuyên cập nhật các điểm du lịch mới nhằm tạo nên sự hấp dẫn trong hành trình của khách hàng</li>
                    <li>Luôn sáng tạo các trò chơi vận động mới lạ, độc đáo để tạo nên giá trị khác biệt trong các tour du lịch EIV</li>
                    <li>Chọn lọc kỹ càng, không ngừng nâng cao chất lượng dịch vụ để du khách được thoải mái nhất trên mọi hành trình</li>
                    <li>Các quà tặng luôn được đổi mới nhằm tri ân khách hàng trong các sự kiện quan trọng</li>
                    <li>Dịch vụ chăm sóc khách hàng chu đáo, đa phương thức tiếp cận</li>
                </ul>
                <p>Và với những giá trị bền vững như trên, công ty du lịch EIV đã đạt được những giải thưởng rất đáng tự hào như:</p>
                <ul>
                    <li>Top 10 doanh nghiệp lữ hành nội địa hàng đầu TP HCM triển vọng trong năm 2021</li>
                    <li>Top 03 đơn vị tổ chức teambuilding nổi bật</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
  
  
  
