<div class="imgheader">
    <img src="assets/img/supportpage/headersp.jpg" alt="">
</div>
<div class="container">
    <div class="row">
                <div class="col-sm-6 ">
                       <div class="content">
                           <h3>Chủ đề phổ biến</h3>
                           <p>
                               <strong><a href="#">1. Cách hủy vé và hoàn tiền chuyến đi</a></strong> <br>
                               <strong><a href="#">2. Cách xem đã xác nhận chuyến đi hay chưa</a></strong> <br>
                               <strong><a href="#">3. Làm thế nào để kiểm tra trạng thái hoàn tiền của tôi</a></strong> <br>
                               <strong><a href="#">4. Làm thế nào để biết đã thanh toán thành công hay chưa</a></strong> <br>
                               <strong><a href="#">5. Cách sửa hoặc đổi tên hành khách</a></strong> <br>

                           </p>
                       </div>
                </div>
                <div class="col-sm-6 col-bottom">
                       <div class="content">
                           <h3>Bạn cần giúp đỡ</h3>
                           <p>Dù bạn đang ở đâu, chúng tôi sẽ có mặt chỉ với một cú nhấp chuột!</p>
                           <button  routerLink="/contact">Liên hệ chúng tôi</button>
                           
                       </div>
                </div>
       </div>    
   </div>
   <app-footer></app-footer>

