<!-- <app-menu></app-menu> -->





<!--  -->
<div class="page-detail">
    <div class="w-100 mb-4 h-auto ">
        <img class="w-100" src="assets/img/Detail/banner2.png">
    </div>
    <div class="page__content--section mb-4">
        <div class="page__content--video size">
            <video class="w-100" controls autoplay loop>
                <source src="assets/img/Detail/Video_Hue.mp4" type="video/mp4 ">
            </video>
        </div>
    </div>
    <div id="containerdetail" class="container-fluid ">
        <div class="row flex-fill">
            <div class="col-md-8 ">
                <div class="row mb-4">
                    <div class="col-md-12" id="detailTour">
                        <div class="page__content--discription text-dark p-5">
                            <p class="title">Destination</p>
                            {{tours.Destination}}
                            <p class="title">Description</p>
                            {{tours.Description}}
                            <p class="title">Time</p>
                            {{tours.Time}}
                            <p class="title">Transportation</p>
                            {{tours.Transportation}}
                            <p class="title">Program</p>
                            {{tours.Program}}
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="page__content--map">
                            <h3 class="text-center text-dark">XEM BẢN ĐỒ</h3>
                            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3826.124379751624!2d107.57570171481312!3d16.469238488634858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1637631083644!5m2!1svi!2s " width="760" height="500 "
                                style="border:0;" allowfullscreen=" " loading="lazy "></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="row mb-4 parent">
                    <div class="col-md-12" class="part__right">
                        <div class="page__content--photos">
                            <img class="w-100 mb-4" src="assets/img/Detail/1b_Huế.png">
                        </div>
                        <div class="content__image--best">
                            <h3 class="text-center pt-4 pb-4 text-dark"> ĐỊA ĐIỂM NỔI BẬT</h3>
                            <div class="content__best ">
                                <img src="assets/img/Detail/Hanoi.png" alt=" ">
                                <div>
                                    <h4 class="text-dark">Lăng Bác Hồ</h4>
                                    <p class="title_province text-center"><i class="bi bi-pin-map-fill"></i><span class="text-dark">Hà Nội</span></p>
                                    <div class="tour--item--content--right price ">
                                        500000 VNĐ
                                    </div>
                                </div>
                            </div>
                            <div class="content__best ">
                                <img src="assets/img/Detail/HaLong.png" alt=" ">
                                <div>
                                    <h4 class="text-dark">Vịnh Hạ Long</h4>
                                    <p class="title_province text-center"><i class="bi bi-pin-map-fill"></i><span class="text-dark">Quảng Ninh</span></p>
                                    <div class="tour--item--content--right price ">
                                        100000 VNĐ
                                    </div>
                                </div>
                            </div>
                            <div class="content__best pb-3 ">
                                <img style="width: 100px; height: 100px;" src="assets/img/Detail/Vungtau.png" alt=" ">
                                <div>
                                    <h4 class="text-dark">Vũng Tàu</h4>
                                    <p class="title_province text-center"><i class="bi bi-pin-map-fill"></i><span class="text-dark">Vũng Tàu</span></p>
                                    <div class="tour--item--content--right price ">
                                        500000 VNĐ
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div><button class="mt-3 mb-4 btn-book btn btn-warning btn-block" routerLink="/book" [disabled]="u=='0'"><span>Đặt vé</span></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" class="part__right--bottom">
                        <h3 class="text-center text-dark">XEM ĐỊA ĐIỂM KHÁC</h3>
                        <div>
                            <img class="img_other" id="imgOther " src="assets/img/Detail/ninhthuan.png" alt=" " title="Nha Trang " usemap="#imageother ">
                            <map name="imageother ">
                            <area target=" " alt=" " title=" " href="tour.html " coords="1,498,398,1 " shape="rect ">
                        </map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__content--related mt-4 mb-4 align-items-end justify-content-center">
            <div class="page__content" id="page__content">
                <h3 class="text-center text-dark">ĐỊA ĐIỂM LIÊN QUAN</h3>
            </div>
            <div class="row">
                <div class="col-3 col-md-4 col-sm-6 col-xs-12 " style="min-width:300px">
                    <div class="card mt-3 position-relative item--tours">
                        <img class="image--tours" src="assets/img/Detail/Hue.png">

                        <div class="card-title">
                            <p class="card-title text-dark" style=" font-weight: bold;">Đại Nội Huế
                            </p>
                            <div class="d-flex justify-content-between">
                                <div class="mr-auto p-2">
                                    <p class="card-title">
                                        <i class="bi bi-pin-map-fill"></i><span class="m-3 text-dark">Huế</span>
                                    </p>
                                </div>
                                <div class="p-2 text-muted">
                                    <p class="card-title text-center test label label-info price">700000 VNĐ</p>
                                </div>
                            </div>
                            <p class="card-body text-dark">Nằm ngay bên bờ sông Hương thơ mộng, Đại nội Huế là một quần thế di tích văn hoá được công nhận là di tích văn hoá thế giới. Địa điểm hội tụ nét đẹp kiến trúc đỉnh cao</p>
                            <div class="m-3 btn-detail"><button type="button" class="btn btn-warning btn-block">Chi tiết</button></div>
                        </div>
                    </div>
                </div>

                <div class="col-3 col-md-4 col-sm-6 col-xs-12 " style="min-width:300px">
                    <div class="card mt-3 position-relative item--tours">
                        <img class="image--tours" src="assets/img/Detail/HaNoi1.png">

                        <div class="card-title">
                            <p class="card-title m-3 text-dark" style=" font-weight: bold;">Lăng Bác Hồ
                            </p>
                            <div class="d-flex justify-content-between">
                                <div class="mr-auto p-2">
                                    <p class="card-title">
                                        <i class="bi bi-pin-map-fill"></i><span class="m-3 text-dark">Hà Nội</span>
                                    </p>
                                </div>
                                <div class="p-2 text-muted">
                                    <p class="card-title text-center test label label-info price">500000 VNĐ</p>
                                </div>
                            </div>
                            <p class="card-body text-dark">Lăng Bác là một trong những địa điểm nổi bật nhất mà du khách không thể bỏ qua khi du lịch Hà Nội. Đây là nơi lưu giữ thi hài của chủ tịch Hồ Chí Minh.</p>
                            <div class="m-3 btn-detail"><button type="button" class="btn btn-warning btn-block">Chi tiết</button></div>
                        </div>
                    </div>
                </div>

                <div class="col-3 col-md-4 col-sm-6 col-xs-12 " style="min-width:300px">
                    <div class="card mt-3 position-relative item--tours">
                        <img class="image--tours" src="assets/img/Detail/BinhDinh.png">

                        <div class="card-title">
                            <p class="card-title m-3 text-dark" style=" font-weight: bold;">Cù Lao Xanh
                            </p>
                            <div class="d-flex justify-content-between">
                                <div class="mr-auto p-2">
                                    <p class="card-title">
                                        <i class="bi bi-pin-map-fill"></i><span class="m-3 text-dark">Bình Định</span>
                                    </p>
                                </div>
                                <div class="p-2 text-muted">
                                    <p class="card-title text-center test label label-info price">700000 VNĐ</p>
                                </div>
                            </div>
                            <p class="card-body text-dark">Một món quà vô giá mà thiên nhiên đã ban tặng cho mảnh đất Bình Định. Hai biểu tượng của Cù Lao Xanh hiện nay là ngọn hải đăng.</p>
                            <div class="m-3 btn-detail"><button type="button" class="btn btn-warning btn-block">Chi tiết</button></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>