
<div class="container-fluid page">
    <div class="container mb-3 " >
        <div class="row">
            <div class="col-md-6 mt-3">
                <div>
                    <a href="#" class="text-center text-danger "  ><h3 class=" lh-lg"> <i class="bi bi-bag-check-fill"></i>  Đặt tour ngay nhận ưu đãi liền tay </h3></a>
                    <img src="https://o.rada.vn/data/image/2021/05/04/Thang-canh-4.jpg" class="mt-4"  width="100%" alt="">
                </div>
            </div>
            <div class="col-md-6 ">
                <h3 class="text-center lh-lg text-primary">Chia sẽ cảm nhận đến với EIV</h3>
                <form [formGroup]="testForm" (ngSubmit)="onSubmit(testForm.value)">
                    <div class="mb-3">
                        <label for="name">Tiêu đề bài viết</label>
                        <input class="form-control" type="text" id="name" formControlName="name" [class.is-invalid]="nameInput.invalid && nameInput.touched">
                        <div *ngIf="nameInput.invalid && nameInput.touched">
                            <small class="text-danger" *ngIf="nameInput.errors?.['required']">Vui lòng nhập tiêu đề</small>
                            <small class="text-danger" *ngIf="nameInput.errors?.['minlength']">Tiêu đề phải tối thiểu 3 ký tự</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="post-img">Đăng ảnh</label>
                        <input type="file" name="post-img" class="form-control" (change)="onSelectFile($event)">
                    </div>
                    <div class="mb-3">
                        <label for="">Nội dung</label>
                        <textarea  class="form-control" style="height: 100px; resize: none;" name="content__text--cusreview" id="cusreview_text" placeholder=" Nhập nội dung review vào đây.... "></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary " style="width: 100%;" [disabled]="testForm.invalid || !file">Đăng bài</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
