<div class="container-fluid menu-page page">
    <!-- menu -->
    <div class="container">
        <div class="row row-menu1">
            <div class="col-8 ul-menu">
                <div class="d-flex text-uppercase align-middle text-a-white">
                    <div class="p-2 m-2 flex-fill text-center">
                        <a routerLink="/home" routerLinkActive="active"><img src="assets/img/logo.png" style="height: 40px;" alt=""></a>
                    </div>
                    <div class="p-2 m-2 flex-fill text-center"><a routerLink="/home">Home</a></div>
                    <div class="p-2 m-2 flex-fill text-center"><a routerLink="/tour">Tour</a></div>
                    <div class="p-2 m-2 flex-fill text-center"><a routerLink="/review">Review</a></div>
                    <div class="p-2 m-2 flex-fill text-center"><a routerLink="/aboutus">About us</a></div>

                </div>
            </div>
            <div class="col-4 ul-login">
                <div class="d-flex text-uppercase align-middle text-a-white">
                    <div class="p-2 m-2 flex-fill text-center mr-3"><a routerLink="/register"><span class="glyphicon glyphicon-list-alt"></span> Register</a></div>
                    <div class="p-2 m-2 flex-fill text-center mr-3"><a routerLink="/signinEmail"><span class="glyphicon glyphicon-user"></span> Sign in</a></div>
                </div>
            </div>
        </div>
        <!-- menu2 -->
        <div class="row-menu2">
            <div class="row">
                <div class="text-center col-8">
                    <a routerLink="/home"><img src="assets/img/logo.png" style="height: 40px;"></a>
                </div>
                <div class="text-right col-4">
                    <p onclick="if(document.getElementById('menu-right-hidden').style.display=='none')
                    {document.getElementById('menu-right-hidden').style.display='block';}
                else
                    {document.getElementById('menu-right-hidden').style.display='none'}" title="Click to show/hide menu" type="button"><i class="glyphicon glyphicon-th-list text-light"></i></p>
                </div>
            </div>

        </div>
    </div>

    <!-- menu an hien -->
    <div id="menu-right-hidden">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/tour">Tour</a></li>
            <li><a routerLink="/review">Review</a></li>
            <li><a routerLink="/aboutus">About us</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/signinPhone">Sign in</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>