<div class="container-fluid menu-page page">
    <!-- menu -->
    <div class="container">
        <div class="row row-menu1">
            <div class="col-8 ul-menu">
                <div class="d-flex text-uppercase align-middle text-light">
                    <div class="p-2 m-2 flex-fill text-center">
                        <a routerLink="/home" routerLinkActive="active"><img src="assets/img/logo.png" style="height: 40px;" alt=""></a>
                    </div>
                    <div class="p-2 m-2 flex-fill text-center"><a routerLink="/home">Home</a></div>
                    <div class="p-2 m-2 flex-fill text-center"><a routerLink="/tour">Tour</a></div>
                    <div class="p-2 m-2 flex-fill text-center"><a routerLink="/review">Review</a></div>
                    <div class="p-2 m-2 flex-fill text-center"><a routerLink="/aboutus">About us</a></div>
                </div>
            </div>
            <div class="col-4 ul-login" id="login" *ngIf="u=='0'">
                <div class="d-flex text-uppercase align-middle text-light" id="signin">
                    <div class="p-2 m-2 flex-fill text-center mr-3" routerLink="/register"><span class="glyphicon glyphicon-list-alt"></span> Register</div>
                    <div class="p-2 m-2 flex-fill text-center mr-3" routerLink="/signinEmail"><span class="glyphicon glyphicon-user"></span>Sign in</div>
                </div>
            </div>
            <div class="col-4 ul-login" id="logout" *ngIf="u!='0'">
                <div class="d-flex align-middle text-light">
                    <div class="p-2 m-2 flex-fill text-center mr-3" routerLink="/profile"><span class="glyphicon glyphicon-list-alt"></span> {{user.Name}}</div>
                    <div class="p-2 m-2 flex-fill text-center mr-3"> <a href="http://localhost:4200/signinEmail" routerLink="/home" (click)="reset()"><span class="glyphicon glyphicon-user"></span> Sign out</a></div>
                </div>
            </div>
        </div>

        <!-- menu2 -->
        <div class="row-menu2">
            <div class="row">
                <div class="text-center col-8">
                    <a routerLink="/home"><img src="assets/img/logo.png" style="height: 40px;"></a>
                </div>
                <div class="text-right col-4">
                    <p onclick="if(document.getElementById('menu-right-hidden').style.display=='none')
                    {document.getElementById('menu-right-hidden').style.display='block';}
                else
                    {document.getElementById('menu-right-hidden').style.display='none'}" title="Click to show/hide menu" type="button"><i class="glyphicon glyphicon-th-list text-light"></i></p>
                </div>
            </div>

        </div>
    </div>

    <!-- menu an hien -->
    <div id="menu-right-hidden">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/tour">Tour</a></li>
            <li><a routerLink="/review">Review</a></li>
            <li><a routerLink="/aboutus">About us</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/signinEmail">Sign in</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>