<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="bg-color" style="background-color: #CAE0F3;">
    <div class="container">
        <div class="text-center">
            <p class="h2 title text-center text-uppercase fw-bold">NHẬN XÉT TỪ KHÁCH HÀNG</p>
        </div>
        <div class="row">
            <div class="input-group mb-5 ">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tasks"></i></span>
                <input id="" type="text" class="form-control" name="" placeholder="Tìm kiếm bài nhận xét" #searchName>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" (click)="search(searchName.value)">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="loc col-md-6 mb-5">
                <div class="card" style="background-color: #F3FBFD; border-radius: 5px;">
                    <form action="get" role="search">
                        <div class="contanier-fluid button-search ">
                            <div class="contanier-fluid button-filter mb-3 ">
                                <p class="h3 title text-center fw-bold"> <strong> Lọc các bài nhận xét </strong></p>
                                <div class="p-3">
                                    <input type="date" class="form-control p-3">
                                </div>
                                <div class="card-text">
                                    <div class="form-check-inline p-3 ">
                                        <label class="form-check-label ">
                                                <input type="radio" class="form-check-input" name="optradio"> Mới nhất
                                              </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio"> Cũ nhất
                                              </label>
                                    </div>
                                </div>
                                <div class="p-3 card-text">
                                    <div class="form__item--checkbox">
                                        <div class="row--title">
                                            <p>Vùng miền</p>
                                        </div>
                                        <div class="content__checkbox">
                                            <div class="checkbox-row">
                                                <input class="form-check-input" type="checkbox"><span> Miền Bắc</span>
                                            </div>
                                            <div class="checkbox-row">
                                                <input class="form-check-input" type="checkbox"><span> Miền Trung</span>
                                            </div>
                                            <div class="checkbox-row">
                                                <input class="form-check-input" type="checkbox"><span> Miền Nam</span>
                                            </div>
                                            <div class="checkbox-row">
                                                <input class="form-check-input" type="checkbox"><span> Miền Tây</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-3 btn-detail"><button type="button" class="btn btn-warning btn-block"><span>Tìm kiếm</span></button></div>
                            </div>

                        </div>
                    </form>
                </div>



            </div>
            <div class="col-md-6 mb-5">
                <div class="card " style="background-color: #F3FBFD; border-radius: 5px;">

                    <div class="contanier-fluid content-giude ">
                        <div>
                            <p class="h3 title text-center fw-bold"> <span><i class="	glyphicon glyphicon-new-window"></i></span> <strong> Cách thức đăng bài trên trang nhận xét</strong> </p>
                        </div>
                        <div class="card-text">
                            <ul class="list-group list-group-light">
                                <li class="list-group-item border-0" style="background-color: #F3FBFD;">
                                    <i class="bi bi-caret-right-fill "></i>Truy cập vào Website EIV
                                </li>
                                <li class="list-group-item border-0" style="background-color: #F3FBFD;">
                                    <i class="bi bi-caret-right-fill"></i> Đăng nhập tài khoản của EIV
                                </li>
                                <li class="list-group-item border-0" style="background-color: #F3FBFD;">
                                    <i class="bi bi-caret-right-fill"></i> Click vào trang Review trên thanh menu
                                </li>
                                <li class="list-group-item border-0 " style="background-color: #F3FBFD;"><i class="bi bi-caret-right-fill"></i> Nhấn nút "Đăng nhận xét" bên dưới</li>
                                <li class="list-group-item border-0" style="background-color: #F3FBFD;"><i class="bi bi-caret-right-fill"></i> Thực hiện gửi cảm nhận đến cho chúng tôi</li>
                            </ul>
                        </div>
                        <div class="m-3 btn-detail"><button type="button" class="btn btn-warning btn-block" routerLink="/postReview"><span>Đăng nhận xét</span></button></div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Phan Review + Comment -->
        <div class="row">
            <div class="col-md-12 aaa ">
                <div class="contanier-fliud  " style="background-color: #F3FBFD; border-radius: 5px; margin-bottom: 30px;">
                    <div class="container-content" *ngFor="let r of reviews">
                        <img src="assets/img/review/review1.jpg" class="w-100" style="border-radius: 5px 5px 0px 0px;" alt="">
                        <h2 class="text-center">{{r.Title}}</h2>
                        <div class="d-flex justify-content-around infor-user">
                            <div class="">
                                <span><i class="glyphicon glyphicon-user"></i> {{r.UserId}}</span>
                            </div>
                            <div>
                                <span><i class="glyphicon glyphicon-calendar"></i>{{r.Date}}</span>
                            </div>
                        </div>
                        <div class="content-review m-5">
                            <p>{{r.Content}}
                            </p>
                        </div>
                        <div class="tim-comment d-flex  justify-content-between">
                            <div style="margin-left: 10%;">
                                <span><i style="color: red;" class="bi bi-heart-fill"></i> {{r.Like}} yêu thích</span>
                            </div>
                            <div style="margin-right: 10%;">
                                <span><i  class="bi bi-chat-text-fill" style="color: blue;"></i> {{r.Id}} bình luận</span>
                            </div>
                        </div>
                        <hr style="margin-left: 5%; margin-right: 5%;">
                        <div class="d-flex  justify-content-between">
                            <div style="margin-left: 20%;">
                                <button class="btn btn-default btn-heart"><i class="bi bi-heart"></i><span> Yêu thích</span></button>
                            </div>
                            <div style="margin-right: 20%;">
                                <button onclick="document.getElementById('formModal').style.display='block'" class="btn btn-default btn-comment" (click)="getCommentByReviewId(r.Id)">Bình luận</button>
                            </div>
                        </div>
                        <hr style="margin-left: 5%; margin-right: 5%;">
                        <div class="w3-container">
                            <div id="formModal" class="w3-modal">
                                <div class="w3-modal-content">
                                    <div class="w3-container">
                                        <div class="uc-modal">
                                            <div class="uc-m-content">
                                                <div class="uc-m-header">
                                                    <h4 class="text-center">Comment</h4>
                                                    <i class="bi bi-x btn-danger" onclick="document.getElementById('formModal').style.display='none'"></i>
                                                </div>
                                                <div class="uc-m-body">
                                                    <div *ngFor="let c of comments">
                                                        <div class="d-flex content-comment m-5">
                                                            <img style="width: 100px; height: 100px; margin: 15px 15px; " src="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/user-img-4.png" alt="">
                                                            <div class="  p-3">
                                                                <div class="" style="padding: 2%; border-radius: 5px; background-color: #f0f2f5;">
                                                                    <p class="font-weight-bold"> <b>{{c.Title}}</b> </p>
                                                                    <p>{{c.Content}}</p>
                                                                </div>

                                                                <div class="d-flex reacted">
                                                                    <div><small><a href="#">Yêu thích</a></small></div>
                                                                    <div style="margin-left: 20%;"><small><a href="#">Phản hồi</a></small></div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="uc-m-footer">
                                                        <button class="btn btn-block btn-danger" onclick="document.getElementById('formModal').style.display='none'">Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>